nav.navbar.navbar-expand-lg.navbar-light.bg-blog
    a.navbar-brand(href='#') 
        span.fab.fa-html5.mr-2
        | FrontENd
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.justify-content-end
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='#')
                    | Home 
                    span.sr-only (current)
            li.nav-item.active
                a.nav-link(href='#') Blog

